@import "../../global.scss";

.tab-bar {
    border: none;
    --color: #b39bd8;
}

.tab-button {
    background-color: transparent;
}

.tab-selected {
    color: $strong-color;
}

.avatar-icon{
    height: 32px;
    width: 32px;
    border: solid 2px;
    padding: 1px;
}