
<ion-header [translucent]="true">
<ion-toolbar style=" --border-width: 0 0 0px;">

    <div class="toolbar-page">
      <span>
        <ion-icon id="popover-button" style="font-size:x-large; font-weight: bold; color: #6305dc;" name="ellipsis-horizontal"></ion-icon>
        <ion-popover trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" [detail]="false">Seleccionar</ion-item>
                <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                  <ng-template>
                    <ion-content>
                      <ion-list>
                        <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </span>
      <ion-title style="text-align: center;"><b style="color: #6305dc;">meet</b><b>too</b></ion-title>
      <span>
        <ion-icon id="present-alert" style="font-size:x-large; font-weight: bold; color: #6305dc;" name="settings"></ion-icon>
      </span>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh;" [fullscreen]="true" [scrollEvents]="false">

  <div class="content" #content_card style="height: 100%;">
    <div class="container-cards " >
      <div #status_card class="status">
        <div *ngIf="recent_user" class="card-status">
          <div class="card-status-header">
            <div class="accept-img">
              <div class="content-img">
                <img style="height: 130px; max-width: 130px; border-radius: 50%;" src="{{recent_user.photo}}" alt="">
              </div>
            </div>

          </div>
          <div class="card-status-data">
            <h1 class="card-status-name">{{recent_user.nick_name}}</h1>
            <label>{{recent_full_name}}</label>
            <h4><b style="color: #6305dc;">!Hey¡</b>. has aceptado la conexión con <b
                style="color: #6305dc;">{{recent_user.nick_name}}</b>.</h4>
            <label style="font-size: small; text-align: justify;">
              <b>Recuerda que no podras enviarle mensajes hasta que
                *pronombres* acepte la conexión contigo.</b></label>
            <br>
            <label style="font-size: small;">
              Por lo pronto puedes ver sus redes sociales y conocer un poco mas de como es
              en ellas.
            </label>
          </div>
          <div class="card-status-actions">
            <ion-button (click)="finish()">Aceptar</ion-button>
            <ion-button color="dark">Cancelar</ion-button>
          </div>
        </div>
      </div>
      <div #recent_card class="card-content">
        <ion-card [style.BackgroundImage]="recent_photo" class="card">
          <label #no class="card-baded no">ADIOS</label>
          <label #yes class="card-baded yes">HOLA</label>

          <div class="card-container" *ngIf="recent_user">
            <ion-card-header class="card-header">
              <ion-card-title class="card-name">{{recent_user.nick_name}}</ion-card-title>
              <ion-card-subtitle style="color:  white;">{{recent_full_name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{recent_user.preferences}}
            </ion-card-content>

          </div>

        </ion-card>
      </div>
      <div class="card_final">
        <label style="text-align: center;" for="">no hay conexiones recientes por mostrar.</label>
      </div>
      <div #card_buttons class="card-action-buttons">
        <div class="button-card dislike">
          <ion-icon name="heart-dislike"></ion-icon>
        </div>
        <div class="button-card latter">
          <ion-icon name="time-outline"></ion-icon>
        </div>
        <div (click)="accept()" class="button-card like">
          <ion-icon name="heart"></ion-icon>
        </div>

      </div>
    </div>
  </div>

</ion-content>