@import "../../global.scss";

.friend-avatar{
    --border-radius: 0;
    width: 25vw;
}
.recent-avatars
{
    
    margin-top: 5px;
}
.friend-icons{
    position: fixed;
    right: 0;
}
.friend-icon{
    margin: 10px;
}
.chat-icons{
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: #6305dc;
    text-align: center;
}
.chat-icon{
    font-size: 20px;
    margin: 10px;
    color: gray;
}

.friend-data {
    width: 50vw;
    height: 100%;
}
.friend-name{
    text-transform: capitalize;

}
.friend-description {
    color: gray;
    padding: 3px 3px 3px 0px;
    font-size: x-small;
}

.recent-friends-card{
    padding: 10px;
}

.image-profile{
    background-size: cover;
    
}

.recent-col{
    flex-grow: 0;
}
.firends-search{
    padding-top: 0;
    padding-bottom: 0;
    --box-shadow: none;
}

.modal-chat{
    --ion-background-color: #f6f6f6;
}

.modal-chat-header{
    justify-content: center;
    display: flex;
    margin: 2px;
    font-size: small;
}

.recent-avatars {
    overflow-x: scroll; /* Permite el scroll horizontal */
    white-space: nowrap; /* Previene que los elementos se envuelvan */
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Internet Explorer y Edge */
  }
  .scroll-container {
    display: flex; /* Usa flexbox para alinear los elementos en una fila */
  }
  
 
.avatar-icon{
    border: solid 2px #6305dc;
    padding: 1px;
}

.recent-avatar{
    height: 60px;
    width: 60px;
}