<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="toolbar-page">
      <app-header-icon (itemSelected)="open_selector()" type="ellipsis" name="ellipsis-horizontal"></app-header-icon>
      <ion-title>Amigos</ion-title>
      <app-header-icon type="power" name="power"></app-header-icon>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content class="comp" [fullscreen]="true">

  <div>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" #title>Amigos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-searchbar color="light" (ionInput)="search($event)" class="firends-search"></ion-searchbar>

    <div class="recent-friends-card">
      <div class="recent-avatars">
        <ion-grid>
          <ion-row>
            <div class="scroll-container">
              <ion-col class="recent-col" *ngFor="let meet of actual_meetings">
                <ion-avatar (click)="open_recent(meet.id)" class="recent-avatar avatar-icon" aria-hidden="true">
                  <img src="{{meet.photo}}" alt="">
                </ion-avatar>
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div class="friend-list">
      <ion-list *ngFor="let friend of friends">
        <app-friend-item [friend]="friend" [selected]="selection_display" (click)="select(friend.id)">
        </app-friend-item>
      </ion-list>
    </div>

  </div>

</ion-content>