<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="toolbar-page">
      <label></label>
      <ion-title>Perfil</ion-title>
      <app-header-icon type="power" name="power"></app-header-icon>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *ngIf="user">
  <div>

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Perfil</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <div #profile_editor class="profile-setings-card">
        <div (click)="open_editor()" class="profile-setings-rounded">
          <ion-avatar (click)="openModal(false,user.email)" class="profile-avatar" aria-hidden="true">
            <img  src="{{user.photo}}" alt="">

          </ion-avatar>

          <div #profile_data class="profile-text-data">
            <ion-label class="profile-fullname">
              {{fullname}}
            </ion-label>
            <div #profile_fullname class="profile-nickname">
              <ion-input required="true" #txt_nickname placeholder="{{user.nick_name}} ">
              </ion-input>
            </div>

            <ion-label [style.Display]="description_display" class="profile-description">
              {{user.preferences}}
            </ion-label>

          </div>
          <div #profile_icon class="profile-logout-icon">
            <ion-icon *ngIf="is_open" (click)="log_out()" class="profile-icon" [name]="icon_name"></ion-icon>
            <ion-badge *ngIf="!is_open" class="circular-badge" slot="end">2</ion-badge>

          </div>
        </div>
        <div [style.Display]="description_display_large">
          <ion-textarea required="true" [counter]="true" maxlength="40" #txt_description style="margin-top: 10px;"
            class="profile-description" placeholder="{{user.preferences}}">
          </ion-textarea>
        </div>
        <div [style.Display]="description_display_large" class="profile_close_editor">
          <ion-icon (click)="close_editor()" class="profile-icon" name="chevron-up-outline"></ion-icon>
        </div>
      </div>

    </ion-card>

    <ion-card class="settings-card">
      <ion-list class="list-settings" *ngIf="user" [inset]="true">
        <ion-item lines="none">
          <ion-label>Mostrar descripcion</ion-label>
          <ion-toggle checked="{{user.visible_preferences}}" (ionChange)="on_checked($event,'preferences')"
            [enableOnOffLabels]="true" slot="end"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Mostrar redes sociales</ion-label>
          <ion-toggle checked="{{user.visible_media}}" (ionChange)="on_checked($event,'media')"
            [enableOnOffLabels]="true" slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card class="settings-card">
      <ion-list class="list-settings" *ngFor="let media of user.social_media" [inset]="true">
        <app-social-media-item [media]="media" [session]="session" [connection]="connection" [user]="user">
        </app-social-media-item>
      </ion-list>
    </ion-card>

  </div>
  <div class="version-content">
    <ion-label>1.0.0 beta</ion-label>
  </div>
</ion-content>